.header {
  padding: 6px;
  text-align: left;
  background: #b4274a;
  color: white;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_center {
  padding: 6px;
  text-align: center;
  background: #b4274a;
  color: white;
  font-size: 15px;

}

.ver-header {
  width: 270px;
  padding: 10px;
  text-align: left;
  background: #b4274a;
  color: white;
  font-size: 17px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}

.small_size {
  font-size: 12px;
}

.logout_btn {
  margin-left: 15px;
}

.left {
  float: left;
  width: 30%;
}

.right {
  float: left;
  width: 20%;
}

.main {
  float: left;
  margin-left: 370px;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}

.no-link {
  text-decoration: none;
  color: rgb(104, 14, 14);
  font-weight: bold;
}

.no-link-dark {
  text-decoration: none;
  color: rgb(207, 240, 255);
  font-weight: bold;
}

.post-page {
  margin-left: 300px;
}

.edit-btn {
  text-decoration: none;
  color: rgb(104, 14, 14);
}

body {
  background-color: rgb(219, 233, 247) !important;
  font-family: Tahoma, sans-serif;
}

.search-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.search-container ul {
  text-align: left;
  display: inline-block;
}

.border {
  border-width: 3px;
  width: 500px;
  border-style: solid;
  border-color:rgb(202, 78, 84);
  padding: 10px;
  display: inline-block;
}

.limit{
  width: 500px;
}

.cat {
  border-width: 3px;
  border-radius: 25px;
  border-style: solid;
  background-color:rgb(128, 206, 135);
  border-color:rgb(128, 206, 135);
  padding: 5px;
  display: inline-block;
}

img {
  width: 200px;
  height: auto;
}

.poll-results {
  display: flex;
  gap: 50px; 
  margin-bottom: 20px;
}

.centered {
  width: 350px;
  margin: 0 auto;   /* centers horizontally */
  padding: 25px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.button {
  background-color: #db3b63;
  color: white;
  padding: 10px;
  font-size: 17px;
}

