<!DOCTYPE html>
<html>

<head>
  <title>Editing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1>Edit your topic</h1>
  <form action="/update_opinion" method="post">
    <p>
      Title: <br />
      <input type="text" size="60" name="title" value="{{ item.title }}" />
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="7" cols="60">{{ item.description }}</textarea>
    </p>
    {% for class in all_classes %}
    <p>{{ class }} <br />
      <select name="classes">
        <option value="">(choose)</option>
      {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Update topic" />
    <input type="hidden" name="item_id" value="{{ item.id }}" />
  </form>
</body>

</html>