{% extends "layout.html" %}

{% block title %}Editing{% endblock %}

{% block content %}

  <h1>Edit your opinion</h1>

  <form action="/update_opinion" method="post">
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <p>
      <label for="title">Title:</label> <br />
      <input type="text" id="title" size="60" name="title" value="{{ post.title }}" maxlength="50" required/>
    </p>
    <p>
      <label for="description">Description:</label> <br />
      <textarea id="description" name="description" rows="7" cols="60" maxlength="1000" required>{{ post.description }}</textarea>
    </p>
    {% for class in all_classes %}
    <p>
      <label for="class{{ class }}">{{ class }}:</label> <br />
      <select name="classes" id="class{{ class }}">
        <option value="">(choose)</option>
      {% for option in all_classes[class] %}
        {% if selected_classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Update topic" />
    <input type="hidden" name="post_id" value="{{ post.id }}" />
  </form>

    <p>
      <a href="/"><button>Back</button></a>
    </p>

</body>

{% endblock %}
