{% extends "layout.html" %}

{% block title %}Images{% endblock %}

{% block content %}
  <h1>Images</h1>

  <p>
    {{ images | count }} images attached.
  </p>

    <form action="/remove_images" method="post">
        {% for image in images %}
        <input type="checkbox" name="image_id" value="{{ image.id }}">
        <img src="/image/{{ image.id }}" alt="Image for opinion"/>
        {% endfor %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <p>
          <input type="submit" value="Remove selected" />
        </p>
    </form>

    <h2>Add images:</h2>
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
        <label for="image">Image</label>
        <input id="image" type="file" name="image" accept=".png" />
        </p>
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Add" />
    </form>
  <p>
    <a href="/opinion/{{ post.id }}"><button>Back</button></a>
  </p>

{% endblock %}