{% extends "layout.html" %}

{% block title %}Hot Takes{% endblock %}

{% block content %}

  <div class="main">

    <!--DISCUSSIONS COLUMN-->
    
    {% if session.username %}
    <p>
      <a href="/new_opinion"><button class="button">New opinion ✚</button></a>
    </p>
    {% endif %}

    {% if not session.username %}
      <p><a href="/login">Log in</a> or <a href="/register">create an account</a>
      to give your own opinions!</p>
    {% endif %}

    <h2>Current hot takes:</h2>
    <ul>
      
      {% for item in items %}
        <li><a href="/opinion/{{ item.id }}">{{ item.title }}</a></li>
      {% else %}
        No opinions yet.
      {% endfor %}
    </ul>

      <div class="pagination">

      {% if page > 1 %}
          <a href="/?page={{ page - 1 }}" class="no-link">🡨</a>
      {% endif %}

      <span>Page {{ page }}</span>

      {% if items|length == 15 %}
          <a href="/?page={{ page + 1 }}" class="no-link">🡪</a>
      {% endif %}

    </div>

  </div>

{% endblock %}
