{% extends "layout.html" %}

{% block title %}Hot Takes{% endblock %}

{% block content %}

  <div class="main">

    <!--DISCUSSIONS COLUMN-->
    
    {% if session.username %}
    <p>
      <a href="/new_opinion"><button class="button">New opinion ✚</button></a>
    </p>
    {% endif %}

    <h2>Current hot takes:</h2>
    <ul>
      
      {% for post in posts %}
        <li><a href="/opinion/{{ post.id }}">{{ post.title }}</a></li>
      {% else %}
        No opinions yet.
      {% endfor %}
    </ul>

    {% if page > 1 or posts|length == 15 %}
      <div class="pagination">

        {% if page > 1 %}
          <a href="/?page={{ page - 1 }}" class="no-link">🡨</a>
        {% endif %}

        <span>Page {{ page }}</span>

        {% if posts|length == 15 %}
          <a href="/?page={{ page + 1 }}" class="no-link">🡪</a>
        {% endif %}

      </div>
    {% endif %}

  </div>

{% endblock %}
