<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="header">
  <h1>༺ Hot Takes ༻</h1>

    <!--SEARCH BAR-->
    <form action="/search" method="GET">
      <p>
        <label for="search-query" class="invis">Search</label>
        <input type="text" id="search-query" name="query" placeholder="I'd like to discuss..." value="{{ query }}">

        <label for="search-category" class="invis">Category</label>
        <select name="category" id="search-category">
          <option value="">All categories</option>
          {% for option in classes["Category"] %}
              <option value="{{ option }}"{% if category == option %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>

        <label for="search-type" class="invis">Type</label>
        <select name="type" id="search-type">
          <option value="">All types</option>
          {% for option in classes["Type"] %}
              <option value="{{ option }}"{% if opinion_type == option %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      <input type="submit" value="Search"> </p>
    </form>

    {% if session.username %}
      <p>You're logged in as <a href="/user/{{ session.user_id }}" class="no-link-dark">{{ session.username }}</a>
      <a href="/logout" class="logout_btn"><button>Log out</button></a></p>
    {% endif %}

    {% if not session.username %}
      <p><a href="/login"><button>Log in</button></a>
      <a href="/register"><button>Create an account</button></a></p>
    {% endif %}
  </div>
  <div class="header_center">
    <a href="/" class="no-link-dark">Home</a> │ 
    {% if session.username %}
    <a href="/new_opinion" class="no-link-dark">New opinion</a> │ 
    <a href="/user/{{ session.user_id }}" class="no-link-dark">Profile</a> │ 
    <a href="/logout" class="no-link-dark">Log out</a>
    {% endif %}
    {% if not session.username %}
    <a href="/login" class="no-link-dark">Log in</a> │ 
    <a href="/register" class="no-link-dark">Create an account</a>
    {% endif %}
  </div>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
