<!DOCTYPE html>
<html>

<head>
  <title>Logging in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header_center">
  <h1>Welcome back to ༺ Hot Takes ༻</h1>
  </div>
  <div class="centered">
    {% if request.args.get('registered') %}
    <p>You can now log in. Welcome!</p>
    {% else %}
    <p>No account? <a href="/register">Register</a></p>
    {% endif %}
    {% if session.username %}
    <p>
      You're logged in as {{ session.username }}
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>
    {% else %}

    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}
    
    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" required/>
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" required/>
      </p>
      <input type="submit" value="Log in" />
    </form>
    {% endif %}
    <p>
      <a href="/"><button>Back</button></a>
    </p>
  </div>
</body>

</html>
