{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

  <div class="centered">
    <h2>Log in</h2>
    {% if request.args.get('registered') %}
    <p>You can now log in. Welcome!</p>
    {% else %}
    <p>No account? <a href="/register">Register</a></p>
    {% endif %}
    {% if session.username %}
    <p>
      You're logged in as {{ session.username }}
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>
    {% else %}

    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}
    
    <form action="/login" method="post">
      <p>
        <label for="username">Username:</label> <br />
        <input type="text" name="username" id="username" required/>
      </p>
      <p>
        <label for="password">Password:</label> <br />
        <input type="password" name="password" id="password" required/>
      </p>
      <input type="submit" value="Log in" />
    </form>
    {% endif %}
    <p>
      <a href="/"><button>Back</button></a>
    </p>
  </div>

{% endblock %}
