<!DOCTYPE html>
<html>

<head>
  <title>New topic</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header">
  <h1>New topic</h1>

  {% if session.username %}
    <p>You're logged in as <a href="/user/{{ session.user_id }}" class="no-link-dark">{{ session.username }}</a>
    <a href="/logout" class="logout_btn"><button>Log out</button></a></p>
  {% endif %}

  {% if not session.username %}
    <p><a href="/login"><button>Log in</button></a>
    <a href="/register"><button>Create an account</button></a></p>
  {% endif %}
  </div>
  <form action="/create_opinion" method="post">
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <p>
      Title: <br />
      <input type="text" size="60" name="title" maxlength="50" placeholder="What's on your mind?" required/>
    </p>
    
    <p>
      Description: <br />
      <textarea name="description" rows="7" cols="60" maxlength="1000" placeholder="Add some context! This is optional."></textarea>
    </p>

    {% for class in classes %}
    <p>{{ class }} <br />
      <select name="classes">
        <option value="">(choose)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>

    </p>
    {% endfor %}
    <p>Note: images can be added after posting!</p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Post" />
  </form>
    <p>
      <a href="/"><button>Back</button></a>
    </p>
</body>

</html>