{% extends "layout.html" %}

{% block title %}New opinion{% endblock %}

{% block content %}

  <h1>New opinion</h1>

  <form action="/create_opinion" method="post">
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <p>
      <label for="title">Title:</label> <br />
      <input type="text" id="title" size="60" name="title" maxlength="50" placeholder="What's on your mind?" required/>
    </p>
    
    <p>
      <label for="description">Description:</label> <br />
      <textarea id="description" name="description" rows="7" cols="60" maxlength="1000" placeholder="Add some context! This is optional."></textarea>
    </p>

    {% for class in classes %}
      <label for="class{{ class }}">{{ class }}:</label> <br />
      <select name="classes" id="class{{ class }}">
        <option value="">(choose)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>

    </p>
    {% endfor %}
    <p>Note: images can be added after posting!</p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Post" />
  </form>
    <p>
      <a href="/"><button>Back</button></a>
    </p>

{% endblock %}