{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

  <div class="centered">
    <h2>Register</h2>
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    <form action="/create" method="post">
      <p>
        <label for="username">Username:</label> <br />
        <input type="text" name="username" id="username" maxlength="15" pattern="[^\s]*"
        title="Username cannot contain spaces." required/>
      </p>
      <p>
        <label for="password1">Password:</label> <br />
        <input type="password" name="password1" id="password1" required/>
      </p>
      <p>
        <label for="password2">Password again:</label> <br />
        <input type="password" name="password2" id="password2" required/>
      </p>
      <input type="submit" value="Create account" />
    </form>
    <p>
      <a href="/"><button>Back</button></a>
    </p>
  </div>

{% endblock %}
