<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header_center">
  <h1>Welcome to ༺ Hot Takes ༻</h1>
  </div>
  <div class="centered">
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    <form action="/create" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" maxlength="15" pattern="[^\s]*"
        title="Username cannot contain spaces." required/>
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" required/>
      </p>
      <p>
        Password again: <br />
        <input type="password" name="password2" required/>
      </p>
      <input type="submit" value="Create account" />
    </form>
    <p>
      <a href="/"><button>Back</button></a>
    </p>
  </div>
</body>

</html>