<!DOCTYPE html>
<html>

<head>
  <title>Deleting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header">
  <h1>Deleting your opinion</h1>
  </div>
  <p>Opinion: {{ item.title }}</p>
  <p>Are you <b>sure</b> you want to <b>delete</b> this opinion?</p>
  <form action="/remove_opinion/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Delete">
    <input type="submit" name="back" value="Back">
  </form>
</body>

</html>