<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header">
  <h1>༺ {{ user.username }} ༻</h1>
  </div>
    {% if item_count == 1 %}
        <h2>User {{ user.username }} has {{ item_count }} topic!</h2>
    {% else %}
        <h2>User {{ user.username }} has {{ item_count }} topics!</h2>
    {% endif %}
    <ul>
      {% for item in items %}
        <li><a href="/opinion/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

    <div class="pagination">

      {% if page > 1 %}
        <a href="/user/{{ user.id }}?page={{ page - 1 }}"
          class="no-link">🡨</a>
      {% endif %}

      <span>Page {{ page }}</span>

      {% if items|length == 15 %}
        <a href="/user/{{ user.id }}?page={{ page + 1 }}"
          class="no-link">🡪</a>
      {% endif %}

    </div>

  <p>
    <a href="/"><button>Back</button></a>
  </p>
  
</body>

</html>
