<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="header">
  <h1>༺ {{ user.username }} ༻</h1>
  </div>
    {% if items | count == 1 %}
        <h2>User {{ user.username }} has {{ items | count }} topic!</h2>
    {% else %}
        <h2>User {{ user.username }} has {{ items | count }} topics!</h2>
    {% endif %}
    <ul>
      {% for item in items %}
        <li><a href="/opinion/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

  <p>
    <a href="/"><button>Back</button></a>
  </p>
  
</body>

</html>