{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}

  <h1>User {{ user.username }}</h1>
  </div>
    {% if post_count == 1 %}
        <h2>{{ user.username }} has {{ post_count }} topic!</h2>
    {% else %}
        <h2>{{ user.username }} has {{ post_count }} topics!</h2>
    {% endif %}
    <ul>
      {% for post in posts %}
        <li><a href="/opinion/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    {% if page > 1 or posts|length == 15 %}
      <div class="pagination">

        {% if page > 1 %}
          <a href="/user/{{ user.id }}?page={{ page - 1 }}"
            class="no-link">🡨</a>
        {% endif %}

        <span>Page {{ page }}</span>

        {% if posts|length == 15 %}
          <a href="/user/{{ user.id }}?page={{ page + 1 }}"
            class="no-link">🡪</a>
        {% endif %}

      </div>
    {% endif %}
  <p>
    <a href="/"><button>Back</button></a>
  </p>

{% endblock %}
