{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="post-page">
    <h1 class="limit">{{ post.title }}</h1>
    <p>{% for image in images %}
    <img src="/image/{{ image.id }}" alt="Image for opinion"/>
    {% endfor %}
    </p>

    {% if post.description and post.description.strip() %}
    <div class="border">{{ post.description | show_lines }}</div>
    {% endif %}

    <p>
      Opinion by: <a href="/user/{{ post.user_id }}" class="no-link">{{ post.username }}</a>
      <p>
      Categories:
      {% for class in post_classes %}
      <span class="cat">{{ class.value }}</span>
      {% endfor %}
      </p>
    </p>

    {% if session.user_id == post.user_id %}
      <a href="/edit_opinion/{{ post.id }}" class="edit-btn">Edit text</a> •
      <a href="/images/{{ post.id }}" class="edit-btn">Edit images</a> •
      <a href="/remove_opinion/{{ post.id }}" class="edit-btn">Delete</a>
    {% endif %}
    <p>
      <a href="/"><button>Back</button></a>
    </p>

    <h2>Votes:</h2>
    <div class="poll-results">
        <span>Yes: {{ reaction_counts.yes }}</span>
        <span>Meh: {{ reaction_counts.meh }}</span>
        <span>No: {{ reaction_counts.no }}</span>
    </div>

      <p>
        {% if session.user_id %}
          
          {% if not user_vote %}

          <form action="/vote" method="post">
          <input type="hidden" name="post_id" value="{{ post.id }}">

          <label for="reaction">What do you think?</label>
          <select id="reaction" name="reaction" required>
              <option value="yes">Yes</option>
              <option value="meh">Meh</option>
              <option value="no">No</option>
          </select>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Vote" />

          </form>
        {% elif session.needs_vote_comment == post.id|string %}

        <p>You voted: {{ user_vote | upper }}</p>

          <form action="/comment" method="post">
          <input type="hidden" name="post_id" value="{{ post.id }}">
          <p>
              <label for="comment">Please explain your vote!:</label> </br>
              <textarea id="comment" name="comment" rows="6" 
              cols="60" maxlength="450" required></textarea>
          </p>

            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Post" />
          
        </form>

          {% else %}
            <p>You already voted: {{ user_vote | upper }}</p>
          {% endif %}

        {% else %}
        <p><a href="/login">Log in</a> to give your vote!</p>
        {% endif %}
      </p>
    
      <h2>Comments:</h2>
      <ul>
        {% for comment in comments %}
        <p>
        <a href="/user/{{ comment.user_id }}" class="no-link">
            {{ comment.username }}
        </a>

        {% if comment.reaction %}
            [{{ comment.reaction|upper }}]
        {% endif %}
        : {{ comment.comment | show_lines }}
              </p>

        {% else %}
        <p>No comments yet!</p>
        {% endfor %}
      </ul>

      {% if session.user_id and user_vote and session.needs_vote_comment != post.id|string %}
         <form action="/comment" method="post">
          <input type="hidden" name="post_id" value="{{ post.id }}">
          <p>
              <label for="comment"></label> </br>
              <textarea id="comment" name="comment" rows="6" 
              cols="60" maxlength="450" required></textarea>
          </p>

            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Post" />
          
        </form>
      {% endif %}
    </div>
{% endblock %}
